{% extends 'base_layout1.html' %}
{% block title %}

Password Reset

{% endblock %}
{% block stylecontent %}
    <style>
        .foot {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
         h2 {
            border-bottom: 1px solid;
            display: block;
            font-size: 50;
            font-weight: bold;
            font-family:franklin gothic medium;
            color:black;
        }
    </style>
{% endblock %}
{% block bodycontent %}
<h1>Password Reset Form</h1>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Reset Password</button>
</form>
{% endblock %}