<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h4>Well done!</h4>
    <p>An Email has been sent with instructions to reset your password. <b>Check Your Email!</b></p>
    <hr>
    <p>If u dont see any mails check your spam folder...still if u dint get make sure u entered corect mailid which was used during signup</p>
</div>
<a href="http://127.0.0.1:8000/"><button class="btn btn-primary" style="font-size:12px;height:30px;width:150px">HOME</button></a>
</body>
</html>