{% extends 'base_layout2.html' %}
{% block title %}

Delete Profile

{% endblock %}
{% block stylecontent %}
    <style>
        .foot {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
        }
    </style>
{% endblock %}
{% block bodycontent %}
Do you want to delete your profile?
 <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Confirm</button>
  </form>
<a href="{%url 'welcomeuser'%}"><button class="btn btn-primary" style="font-size:12px;height:30px;width:150px">Back to HomePage</button></a>
{% endblock %}