<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<a href="{% url 'balanceenquiry' %}"><button class="btn btn-primary" style="font-size:12px;height:30px;width:150px">Balance Check</button></a>
<a href="{% url 'depositamount' %}"><button class="btn btn-primary" style="font-size:12px;height:30px;width:150px">Deposit</button></a>
<a href="{% url 'withdrawamount' %}"><button class="btn btn-primary" style="font-size:12px;height:30px;width:150px">Withdraw</button></a>
<a href="{% url 'transferamount' %}"><button class="btn btn-primary" style="font-size:12px;height:30px;width:150px">Transfer</button></a>
<a href="{% url 'welcomeuser' %}"><button class="btn btn-primary" style="font-size:12px;height:30px;width:150px">Back to Home</button></a>
</body>
</html>